/* @keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
} */

.animated-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* animation: moveUp 40s linear infinite; */
}

/* .animated-text-delayed {
  animation-delay: -20s;
}
.animated-text-delayed-2 {
  animation-delay: -20s;
} */
