@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type='text'],
input[type='password'],
textarea,
select {
  background-color: #ffffff;
  border: none;
}

DIV.sone-general-formcontainer {
  background-color: #ffffff;
  box-shadow: none;
  border: none;
  padding: 0;
  margin-bottom: 0;
}
DIV.sone-general-subcomment {
  padding: 0;
}

body {
  font-family: 'Prompt', sans-serif;
  /* font-family: 'swis'; */
  font-size: 14px;
  color: #000000;
  /* background: #ffffff; */
  background: transparent;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  font-weight: bold;
  outline: none;
}

#CenterColumnDiv {
  background-color: white;
}

DIV.sone-general-header {
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 1rem;
  font-size: 20pt;
}

DIV.sone-general-subheader {
  font-size: 20pt;
  padding: 0 3px 3px 3px;
  color: #000000;
  outline: none;
}

input[type='button'].green,
input[type='submit'].green,
button.green,
a.s1_button.green,
div.s1_button.green,
button.s1_button.green,
input[type='button'].green:not(:disabled):hover,
input[type='submit'].green:not(:disabled):hover,
button.green:not(:disabled):hover,
a.s1_button.green:not(:disabled):hover,
div.s1_button.green:not(:disabled):hover,
button.s1_button.green:not(:disabled):hover {
  /* border-radius: 10px 10px 10px 10px;
  background-color: darkorange;
  height: 30px;
  margin: auto;
  color: #fff;
  text-align: center;
  line-height: 5px;
  -webkit-border-radius: 10px;
  box-shadow: 0 1px 2px orange; */
  background-color: transparent;
  border: none;
  color: #222;
  text-transform: uppercase;
}

div.flex.justify-end.margin-top {
  height: 4rem;
  background-color: #d2ff37;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 2rem;
  margin-top: 0;
}

/* h-16 bg-yellow-app w-full flex justify-end px-8 items-center */

table,
tbody {
  display: block;
}

table tr {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: solid 2px black;
  padding: 1rem 2rem 3rem;
  box-sizing: border-box;
  max-width: 100%;
}

td.s1_cell_bigpadding,
td.label,
td div,
table td,
.label {
  width: 100%;
}

td div > div > div > div {
  display: flex;
}

.s1_dateinput {
  flex: 1;
  border: none;
  text-align: start;
  font-weight: bold;
}

DIV.sone-webform-centercolumn {
  background: white;
  padding: 0;
}

table.ui-datepicker-calendar {
  display: table;
}
table.ui-datepicker-calendar tbody {
  display: table-row-group;
}

table.ui-datepicker-calendar tr {
  display: table-row;
}
table.ui-datepicker-calendar tr td {
  width: auto;
}

#FirstBlockOfDetails tbody tr:nth-child(3) {
  padding: 0;
}

#FirstBlockOfDetails tbody tr:nth-child(3) td:nth-child(1) {
  padding: 2rem 3rem 2rem;
}

#FirstBlockOfDetails tbody tr:nth-child(3) td:nth-child(2) {
  padding: 0rem 2rem 3rem;
  background: black;
}
#FirstBlockOfDetails tbody tr:nth-child(3) td:nth-child(2) textarea {
  background: black;
  color: white;
  resize: none;
}
DIV.sone-webform-languagebar,
DIV.sone-general-subheader,
DIV.sone-general-header,
DIV.sone-general-comment {
  padding: 0 3rem;
}
.s1_small.s1_lightgray.margin-top-huge {
  display: none;
}

#form1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

DIV#contentholder {
  margin: 0;
  margin-left: auto;
  padding: 2rem 0 0;
  width: 50vw;
  max-width: 768px;
  background-color: white;
}

.title-container {
  color: white;
  font-size: 4.2vw;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  width: 35rem;
}

.subtitle-container {
  color: white;
  font-size: 2vw;
  font-weight: bold;
  text-transform: uppercase;
}

#SG3Address {
  display: none;
}

DIV.sone-header.sone-general-header {
  display: none;
}

@media (max-width: 1024px) {
  body {
    font-size: clamp(8px, 3.4vw, 14px);
    line-height: clamp(8px, 3.4vw, 14px);
  }
  DIV.sone-general-comment {
    font-size: clamp(8px, 3.4vw, 14px);
    line-height: clamp(8px, 4vw, 19.6px);
  }

  .title-container {
    font-size: clamp(32px, 9.2vw, 38px);
    line-height: clamp(28.2px, 7.5vw, 34.2px);
  }
  .subtitle-container {
    font-size: clamp(8px, 3.4vw, 14px);
    line-height: clamp(8px, 3.4vw, 14px);
  }
  .s1_button {
    font-size: clamp(8px, 3.4vw, 14px);
    line-height: clamp(8px, 3.4vw, 14px);
  }

  DIV.flex.justify-end.margin-top {
    padding: 2rem;
  }

  .title-cont {
    width: 100%;
    background-image: url(https://b4backend.promokore.com/assets/back_mobile.jpg);
    background-size: cover;
    padding: 2rem;
  }

  #form1 {
    flex-direction: column-reverse;
  }

  DIV#contentholder {
    width: 100%;
  }

  DIV.sone-webform-languagebar {
    margin-bottom: 2rem;
  }
}
