@font-face {
  font-family: 'inter';
  src: url('../src/styles/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: 'heveltica';
  src: url('../src/styles/fonts/Provisional/Helvetica-Neue-LT-Com-63-Medium-Extended\ 2.ttf');
}

@font-face {
  font-family: 'swis';
  src: url('../src/styles/fonts/swis/swis721_.ttf');
}

.inter {
  font-family: 'inter';
}
.heveltica {
  font-family: 'heveltica';
}
.swis {
  font-family: 'swis';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    @apply bg-black text-white;
  }
}
