.bg-about-mobile {
  background-image: url(../../../src/assets/about/back_mobile.jpg);
  background-size: cover;
}

@media (min-width: 1024px) {
  .bg-about-mobile {
    background-image: none;
  }

  .body {
    background-image: url(../../../src/assets/about/back_desktop.jpg);
    background-size: cover;
  }
}
